.detalle-column-center {
    display: flex;
    justify-content: center;
}

.inputs-witdh50 {
    width: 90%;
}

.background-select {
    background-color: silver;
    border-radius: 5px;
    height: 40px;
}