.resultado-form {

    &__score-input {
        --background: silver !important;
        --border-radius: 10px !important
    }

    &__radio-column {
        display: flex;
        align-items: center;
    }

    &__radio {
        margin-left: 5px;
    }
}

.width-button-50 {
    width: 50%;
}

.h4-label {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: silver
}