.resultado-form {

    &__score-input {
        --background: silver !important;
        --border-radius: 10px !important
    }

    &__radio-column {
        display: flex;
        align-items: center;
    }

    &__radio {
        margin-left: 5px;
    }
}

.width-button-50 {
    width: 50%;
}

.h4-label {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: silver
}

.sede-button {
    --border-radius: 10px;
    height: 70px;
    --border-width: 1px 1px 1px 10px;
    --color: darkgray;
    margin: 10px;
    --border-color: gray;
    width: 90%;
}

.button-color-active {
    --color: orange !important;
    --border-color: orange !important;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
}

.card-subtitle {
    font-size: 15px;
    font-weight: 600;
    color: red !important;
    margin: 0;
}

.label-aviso {
    font-size: 15px;
    font-weight: 600;
}

.background-transparent {
    --background: transparent;
}
