.eleccion-jugador-form {

    &__select-rival {
        height: 50px;
        background: silver;
        border-radius: 10px
    }

    &__submit-column {
        display: flex;
        justify-content: center;
    }
}

.custom-datetime {
    --background: bisque;

}

ion-datetime-button::part(native) {
    width: 100%;
    height: 50px;
    background: silver;
  }