.error-message {
    transition: opacity 1s linear;
    margin-top: 2px;
    color: var(--ion-color-danger);

    min-height: 24px;
    font-size: 13px;

    opacity: 0;
}

.error-alert {
    margin-top: 4px;
    padding-left: 5px;
  }

.login-inputs {
    --background: antiquewhite;
    --background-focused: antiquewhite;
}

.login-page-buttons {
    width: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px antiquewhite inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: black !important;
}