.nombre-tabla {
    font-size: 13px;
    font-weight: 600;
    margin: 3px
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-empty-players {
    text-align: center;
    color: silver;
}

.fixed-width {
    width: 100px !important;
}

.size-numbers {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.transparent-background {
    --background: transparent;
    --border-style: solid;
    --border-color: olive
}
.posicion-par-letra {
    //--background: #f1d34d;
    color: #f1d34d
}

.separador {
    width: 100%;
    height: 2px;
    border: 1px solid yellow;
}

.flex-space {
    display: flex;
    justify-content: space-around;
}

.width-100 {
    width: 100%;
    height: 100%;
}

.column-border {
    text-align: center;
}

.posiciones-select {
    color: yellow;
}

.headers-tabla {
    --background: transparent;
    margin-top: 10px;
}

.posicion-impar-letra {
    color: darkgoldenrod
}

.withBorderDashed {
    border-right: 1px dashed dimgray;
}

.withBorderContinue {
    border-right: 1px solid dimgray;
}

/*.lastPaddingLeft {
    padding-left: 1px;
}*/

.fontPromedio {
    font-size: 13px;
    padding-left: 2px;
}